<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<div id="app">
    <v-app id="inspire">
        <v-app-bar app color="indigo" dark>
            <v-toolbar-title>Application</v-toolbar-title>
        </v-app-bar>
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar color="primary" dark flat>
                                <v-toolbar-title>Login form</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-btn outlined color="white">ユーザ登録</v-btn>
                            </v-toolbar>
                            <v-card-text>SNSでログイン</v-card-text>
                            <v-card-actions>
                                <v-btn href="/google/oauth2">
                                    <i class="fa fa-google" style="font-size:1.5rem;color:#ea4335"></i>&nbsp;Google
                                </v-btn>
                                <v-btn href="/facebook/oauth2">
                                    <i class="fa fa-facebook" style="font-size:1.5rem;color:#3c57a4"></i>&nbsp;Facebook
                                </v-btn>
                                <v-btn href="/twitter/oauth">
                                    <i class="fa fa-twitter" style="font-size:1.5rem;color:#1da1f2"></i>&nbsp;Twitter
                                </v-btn>
                                <v-btn href="/github/oauth2">
                                    <i class="fa fa-github" style="font-size:1.5rem;color:#333"></i>&nbsp;GitHub
                                </v-btn>
                            </v-card-actions>
                            <v-card-text>OR</v-card-text>
                            <v-card-text>
                                <v-form>
                                    <v-text-field label="Login" name="login" prepend-icon="person"
                                                  type="text" v-model="email" :rules="[rules.required, rules.email]"></v-text-field>
                                    <v-text-field id="password" label="Password" name="password" prepend-icon="lock"
                                                  type="password" v-model="password" :rules="[rules.required, rules.passwordLen]" required></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn color="primary" @click="signup">Login</v-btn>
                            </v-card-actions>
                            <v-card-actions>
                                <v-alert v-model="show" :dismissible="dismissible" :type="type"
                                         class="mb-4">{{ message }}</v-alert>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <v-footer color="indigo" app>
            <span class="white--text">&copy; 2019 laqiiz</span>
        </v-footer>
    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="index.js"></script>
